h1, h2, h3, h4, h5, h6 {
    color: blue;
    font-weight: bold;
}

#black_text {
    color: black;
    font-size: 25px;
}
#logo {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    font-size: 30px;
}
a:hover {
    text-decoration: none;
}